/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-one: 'Roboto', 'Rubik', 'sans-serif';
    --font-two: 'Rubik', 'Roboto', 'sans-serif';
    --font-three: 'Londrina Solid', 'Roboto', 'sans-serif';
    --font-four: 'Mochiy Pop One', 'Roboto', 'sans-serif';

    --scroll-bar: 13px;

    --boderc-one: rgb(228, 165, 247);
    --color-first: rgba(86, 13, 109);
    --color-white: #fff;
    --color-black: #000;

    --bg-primary: rgba(249, 242, 231);
    --bg-secondary: rgba(231, 249, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* BODY */

.i-body {
    width: calc(100vw - var(--scroll-bar));
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-color: var(--bg-secondary);
    background-image: linear-gradient(#000, rebeccapurple);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* HEADER */

.i-header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.i-message-fundation {
    background-color: rebeccapurple;
    width: 100%
}

.i-message {
    text-align: center;
    padding: .5rem 1rem;
    color: #fff;
    font-size: .8rem;
}

.i-nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    height: 50px;
}

.i-nav-logo {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

.i-logo-id {
    width: 30px;
}

.i-logo-name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    margin-left: .2rem;
    font-family: var(--font-two);
}

.i-list {
    margin-right: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}

.i-list-buy {
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #ffffff;
    border-radius: .5rem;
    position: relative;
    margin-right: .5rem;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    cursor: pointer;
    color: #000;
}

.i-list-buy:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    rotate: 0deg;
}

.i-list-buy::before {
    content: '🛒';
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
}

.i-list-buy::after {
    content: 'Comprar';
    display: block;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    font-size: .8rem;
}

.i-list-access {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 50%;
    position: relative;
    box-shadow: 0px 0px 2px rgb(255, 255, 255);
    cursor: pointer;
}

.i-list-access:hover {
    box-shadow: 0px 0px 10px rgb(255, 255, 255);
    background-color: #fff;
    rotate: 0deg;
}

.i-list-access::before {
    content: '🌟';
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN */

.i.main {
    position: relative;
}

.i-banner {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.i-banner-group {
    width: 100%;
    height: 300px;
    position: relative;
    background-color: #000000;
}

.i-banner-txts {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
}

.i-banner-textp {
    color: #fff;
    font-size: 2.3rem;
    font-weight: 700;
    padding: 0 1rem;
    text-align: center;
    font-family: var(--font-two);
    margin-bottom: -10px;
}

.i-banner-texts {
    color: #ff0;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 1rem;
    text-align: center;
    margin-top: 15px;
}

.i-banner-btns {
    position: absolute;
    bottom: 6%;
}

.i-banner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #fff;
    border-radius: .5rem;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}


.i-banner-imgs {
    width: 100%;
    height: 310px;
    position: relative;
}

.i-banner-img {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    background-position: right;
}

.i-banner-shadow {
    position: absolute;
    display: block;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 5rem;
    top: -5px;
    left: 0;
    background: linear-gradient(#000, 50%, transparent);
    z-index: 100;
}

/* SECTION TWO */

.i-example {
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 800px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
}

.i-example-beneficios{
    width: 100%;
    display: block;
}

.i-example-txt{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 2rem 0 1.5rem;
    text-align: center;
}

.i-example-txts::before {
    content: '✔️';
    display: inline-block;
    width: 1rem;
    height: .5rem;
    margin: 0 .2rem 0 0;
    font-size: .6rem;
}


.i-example-parrafo{
    display: block;
    width: 50%;
    margin: .3rem auto .7rem;
}

.i-example-btn{
    background-color:rebeccapurple;
    text-decoration: none;
    color: #ffffff;
    display: block;
    width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    margin: 1rem auto;
}


.i-example-phone {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.i-phone {
    display: block;
    height: 400px;
    filter: drop-shadow(0 0 0.2rem rgb(131, 131, 131));
    z-index: 99;
}

.i-example-phone::before {
    content: '';
    display: block;
    width: 80%;
    height:50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: linear-gradient(#ff00d4, rebeccapurple);
    z-index: 1;
    filter: blur(60px);

}

