/* FUENTE */

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-one: 'Roboto', 'Rubik', 'sans-serif';
    --font-two: 'Rubik', 'Roboto', 'sans-serif';
    --font-three: 'Londrina Solid', 'Roboto', 'sans-serif';
    --font-four: 'Mochiy Pop One', 'Roboto', 'sans-serif';

    --scroll-bar: 13px;

    --boderc-one: rgb(228, 165, 247);
    --color-first: rgba(86, 13, 109);
    --color-white: #fff;
    --color-black: #000;

    --bg-primary: rgba(249, 242, 231);
    --bg-secondary: rgba(231, 249, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-one);
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

/* BODY */
.bd-body {
    width: calc(100vw - var(--scroll-bar));
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-image: radial-gradient(600px at 0 0, var(--bg-primary), var(--bg-secondary));
    position: relative;
    /* background-image: url(/img/bidraw.svg);
    background-repeat: repeat;
    background-size: contain;
    position: relative;
    background-color: var(--bg-secondary); */
}

.boyson {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-image: url(/img/imgworld.webp);
    background-repeat: repeat;
    background-size: contain;
    opacity: .3;
}

/* HEADER */
.bd-header {
    background-color: rebeccapurple;
    display: block;
    width: 100%;
    height: 50px;
    z-index: 100;
}

.user-nav {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.user-nav-logo {
    height: 50px;
    margin-left: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.user-logo-id {
    display: block;
    height: 30px;
}

.user-logo-name {
    font-size: 1.3rem;
    margin-left: .3rem;
    margin-top: .15rem;
    font-weight: 900;
    color: white;
    font-family: var(--font-one);
    text-decoration: none;
}

.user-list {
    margin-right: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.user-list-buy {
    display: block;
    width: 100px;
    height: 30px;
    background-color: white;
    border-radius: .5rem;
    position: relative;
    margin-right: .5rem;
    cursor: pointer;
    color: #000;
}

.user-list-access {
    display: block;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    color: #000;
}

.user-list-buy:hover {
    box-shadow: 0px 0px 5px rgb(39, 14, 65);
}

.user-list-buy::before {
    content: '🐶';
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translateY(-50%);
}

.user-list-buy::after {
    content: 'Ingresar';
    display: block;
    color: #000000;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
    font-size: .8rem;
}

.user-list-access:hover {
    box-shadow: 0px 0px 5px rgb(39, 14, 65);
}

.user-list-access::before {
    content: '🌟';
    display: inline-block;
    font-size: 1rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN */

.bd-main {
    width: 100%;
    position: relative;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.content-all {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content-photo {
    width: 100%;
}

.content-img {
    width: 100%;
    height: 300px;
    position: relative;
}

.user-photo {
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    object-fit: cover;
    background-position: right;
}

.content-text-address {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.content-text {
    display: block;
    width: 100%;
    height: 260px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 .3rem 0 0;
    position: relative;
}

.name {
    display: block;
    background-color: rgba(240, 240, 240, 0.26);
    width: 100%;
    height: 50px;
    color: rebeccapurple;
    padding: 0 1.5rem;
    font-family: var(--font-two);
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 50px;
    border-radius: 0 .3rem 0 0;
    border-bottom: 1px solid rgb(228, 228, 228);
}

.idpet{
    position: absolute;
    display: block;
    width: 150px;
    height: 30px;
    top:10px;
    right: 1.5rem;
    background-color:rebeccapurple;
    border-radius: .25rem;
}

.idpet::after {
    content: attr(user);
    display: block;
    font-size: .9rem;
    font-weight: 500;
    color: #ff0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.user-texto {
    padding: .5rem 1.5rem;
}

.user-txt {
    display: block;
    font-size: 1rem;
    margin: .5rem 0;
    text-decoration: none;
    color: #2c2c2c;
}

.phone {
    font-size: 1.2rem;
    font-family: var(--font-two);
    color: blue;
}

.user-btns {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.user-btn {
    width: 30%;
    background-image: linear-gradient(#2CC87F, #2CC87F);
    border-radius: .25rem;
    color: #fff;
    text-decoration: none;
    text-align: center;
    padding: 1rem 0;
    font-size: .9rem;
    margin: 0 .2rem;
}

.user-btn:hover {
    background-image: linear-gradient(#2CC87F, #0e9656);
}

.content-address {
    display: block;
    width: 100%;
    height: 160px;
    border-radius: 0 0 .3rem 0;
}

.user-adress {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 0 0 .3rem 0;
}

/* FOOTER */

.bd-footer {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    background-color: #2c2c2c;
}

.user-footer-social {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.user-icon {
    color: #fff;
    margin: 1rem .5rem .5rem;
    text-decoration: none;
    font-size: .8rem;
}

.user-icon:hover {
    color: #b6b5b5;
}

.slogan:hover {
    color: #fff;
}

.user-copy {
    font-size: 0.7rem;
    text-align: center;
    font-weight: 300;
    color: #fff;
    padding: .5rem 0;
}

@media screen and (min-width: 1000px) {

    .user-nav {
        width: 90%;
        margin: 0 auto;
    }

    .user-list-access {
        display: block;
        width: 100px;
        height: 30px;
        background-color: white;
        border-radius: .5rem;
        position: relative;
        margin-right: .5rem;
        cursor: pointer;
        color: #000;
    }

    .user-list-access::before {
        content: '🌟';
        top: 50%;
        left: 70%;
        transform: translateY(-50%);
    }

    .user-list-access::after {
        content: 'Tienda';
        display: block;
        color: #000000;
        position: absolute;
        top: 50%;
        left: 13px;
        transform: translateY(-50%);
        font-size: .8rem;
    }

    /* MAIN */

    .content {
        width: 90%;
        margin: 1rem auto;
        border-radius: .4rem;
        border: 1px solid rgba(128, 128, 128, 0.24);
    }

    .content-all {
        flex-flow: row nowrap;
    }

    .content-photo {
        width: 50%;
    }

    .content-img {
        height: 80vh;
    }

    .user-photo {
        border-radius: .3rem 0 0 .3rem;
    }

    .content-text-address {
        width: 50%;
    }

    .content-text {
        height: 40vh;
    }

    .name {
        height: 60px;
        font-size: 2rem;
        line-height: 60px;
    }

    .idpet{
        top:15px;
        right: 15px;
    }

    .user-txt {
        font-size: 1.2rem;
    }

    .phone {
        font-size: 1.5rem;
    }

    .user-btns {
        padding-top: 1rem;
    }

    .content-address {
        height: 40vh;
    }

    /* FOOTER */


    .user-copy {
        font-size: 0.8rem;
    }

}

@media screen and (min-width: 1200px) {

    .user-nav {
        width: 70%;
        margin: 0 auto;
    }

    .content {
        width: 70%;
    }

}