@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-one: 'Roboto', 'Rubik', 'sans-serif';
    --font-two: 'Rubik', 'Roboto', 'sans-serif';
    --font-three: 'Londrina Solid', 'Roboto', 'sans-serif';
    --font-four: 'Mochiy Pop One', 'Roboto', 'sans-serif';

    --scroll-bar: 13px;

    --boderc-one: rgb(228, 165, 247);
    --color-first: rgba(86, 13, 109);
    --color-white: #fff;
    --color-black: #000;

    --bg-primary: rgba(249, 242, 231);
    --bg-secondary: rgba(231, 249, 244);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-one);
    font-size: 1rem;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}


/* PLAN */

.returnstart{
    cursor: pointer;
}

.body-plan{
    width: calc(100vw - var(--scroll-bar));
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background-color: var(--bg-secondary);
    background-image: radial-gradient(600px at 0 0, var(--bg-primary), var(--bg-secondary));
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-plan{
    width: 100%;
    background-color: var(--color-white);
}

.nav-plan{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 60px;    
    color: var(--color-white);
    border-bottom: 1px solid var(--boderc-one);
}

.nameid-plan{
    font-size: 1.5rem;
    font-weight: 600;
    background-color: var(--color-first);
    color: var(--color-white);
    padding: 0 .2rem 0 .2rem;
    border-radius: .2rem;
    font-family: var(--font-two);
    letter-spacing: -1px;
}

.namepet-plan{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-first);
    margin-left: .2rem;
    font-family: var(--font-two);
}

.f-triangle-plan{
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid var(--boderc-one);
    margin-left: .5rem;
    cursor: pointer;
}

.f-triangle-plan:hover{
    border-top: 10px solid var(--color-first);
}

.t-triangle-plan{
    display: none;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid var(--color-first);
    margin-left: .5rem;
    cursor: pointer;
}

.t-triangle-plan:hover{
    border-top: 10px solid var(--boderc-one);
}

.hup-plan{
    display: none;
    justify-content: center;
    align-items: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid var(--boderc-one);
    height: 60px;
    opacity: 0;
}

.hup-plan.active{
    display: flex;
    opacity: 1;
}


.boxcontac-plan{
    height: 100%;
    border-radius: .25rem;
    background-color: rgba(255, 0, 221, 0.8);
    margin-left: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .4rem;
}

.boxcontac-plan:hover{
    background-color: rgb(216, 88, 163);
}

.link-plan{
    text-decoration: none;
    color: var(--color-white);
    font-size: .8rem;
    text-align: center;
    align-items: center;
}

.main-plan{
    width: 100%;
    position: relative;
}

.section-plan{
    width: 90%;
    display: block;
    margin: 1rem auto;
}

.title-plan{
    text-align: center;
    font-weight: 600;
}

.sdivs-plan{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center; 
}

.protect-plan-f{
    width: 300px;
    background: linear-gradient(#a200ff, 40%, #ffffff00);
    color: var(--color-white);
    border-radius: .5rem;
    padding: 2px;
    margin: .5rem;
}

.protect-plan-t{
    width: 300px;
    background: linear-gradient(#ff0080, 40%, #ffffff00);
    color: var(--color-white);
    border-radius: .5rem;
    padding: 2px;
    margin: .5rem;
}

.protect-plan-tr{
    width: 300px;
    background: linear-gradient(#c300ff, 40%, #ffffff00);
    color: var(--color-white);
    border-radius: .5rem;
    padding: 2px;
    margin: .5rem;
}

.text-plan{
    padding: 0.5rem 1rem;
    font-size: .9rem; 
}

.opca::after {
    content: 'Más adquirido';
    display: inline-block;
    width: 7rem;
    height: .5rem;
    margin: 0 0 0 .5rem;
    color: yellow;
    font-size: .8rem;
}

.opco::after {
    content: 'Más adquirido';
    display: inline-block;
    width: 7rem;
    height: .5rem;
    margin: 0 0 0 .5rem;
    color: yellow;
    font-size: .8rem;
}

.opci::after {
    content: 'NFC';
    display: inline-block;
    width: 7rem;
    height: .5rem;
    margin: 0 0 0 .5rem;
    color: yellow;
    font-size: .8rem;

}

.content-plan{
    background-color: var(--color-white);
    border-radius: .5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}


.fcontent-plan{
    width: 280px;
    padding: .5rem .5rem 1rem .5rem;
}

.n-plan{
    color: var(--color-first);
    font-size: .9rem; 
}

.n-plan::before {
    content: '✔️';
    display: inline-block;
    width: 1rem;
    height: .5rem;
    margin: 0 .5rem 0 0;
}

.addam::after {
    content: 'S/.42';
    display: inline-block;
    width: 1rem;
    height: .5rem;
    margin: 0 0 0 .5rem;
    color: grey;
    text-decoration:line-through;
}

.addin::after {
    content: 'S/.84';
    display: inline-block;
    width: 1rem;
    height: .5rem;
    margin: 0 0 0 .5rem;
    color: grey;
    text-decoration:line-through;
}

.btn-plan{
    width: 250px;
    padding: .5rem;
    background-color: var(--color-white);
    border: 1px solid  var(--color-first);
    border-radius: .3rem;
    color:  var(--color-first);
}

.cpf{
    border: 1px solid  #a200ff;
    color: #a200ff;
    cursor: pointer;
}

.cpt{
    border: 1px solid  #ff0080;
    color: #ff0080;
    cursor: pointer;
}

.cptr{
    border: 1px solid  #c300ff;
    color: #c300ff;
    cursor: pointer;
}

.cpf:hover{
    color: #fff;
    background-color: #a200ff;
}

.cpt:hover{
    color: #fff;
    background-color: #ff0080;
}

.cptr:hover{
    background-color: #c300ff;
    color: #fff;

}


.footer{
    width: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    border-top: 1px solid #E2E2E4;
    background-color: var(--color-white);
}

.txfoo{
    font-size: 0.8rem;
    text-align: center;
    font-weight: 300;
}

.data-plan{
    position: absolute;
    top:0;
    width: 100%;
    background-color: #ffffffcb;
}

.message-plan{
    position: absolute;
    background-color: rgba(255, 126, 126, 0.767);
    color: #fff;
    width: 200px;
    border-radius: .25rem;
    padding: 1rem;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    text-align: center;
    display: none;
}

.secdata-plan{
    background-color: var(--bg-secondary);
    width: 80%;
    display: block;
    margin: 1rem auto;
    border-radius: 0.25rem;
}

.title-buy-plan{
    padding: 1rem;
    position: relative;
    background-color: aquamarine;
    border-radius: .3rem .3rem 0 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: start;
}

.ico-close{
    position: absolute;
    top:40%;
    right: 6%;
    cursor: pointer;
}

.form-plan{
    padding: 1rem;
}

.steep-plan{
width: 100%;
}

.tx-steep{
    display: inline-block;
    background-color: #a200ff;
    border-radius: .25rem;
    padding: .5rem;
    margin-left: 1rem;
    color: var(--color-white);
}

.fieldset-plan{
    border: none;
    margin: .5rem auto;
    border-bottom: 1px solid #fff;
    padding-bottom: .5rem;
}

.sform-plan{
    padding: .3rem;
    width: 100%;
    margin: .3rem auto;
    padding: .5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(0, 255, 170);
    font-size: .9rem;
    background-color: #fff;
    color: rgb(82, 82, 82);
}

.iform-plan{
    padding: .3rem;
    width: 100%;
    margin: .3rem auto;
    padding: .5rem;
    border-radius: 0.25rem;
    border: 1px solid rgb(0, 255, 170);
    font-size: .9rem;
    color: rgb(54, 54, 54);
}

.iform-plan::placeholder{
    color: rgb(75, 75, 75);
}


.box-checkbox-plan{
    margin: .5rem 0;
}

.group-btn{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn-next{
    width: 80%;
    padding: .3rem;
    background-color: #a200ff;
    color: #fff;
    border: 1px solid #a200ff;
    border-radius: .25rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    margin: .25rem .3rem;
}

.btn-next:hover{
    background-color: #b237fa;
    color: #fff ;
    border: 1px solid #b237fa;
}

.btn-cc{
    width: 20%;
    padding: .3rem;
    background-color: #5b028f;
    color: #fff;
    border: 1px solid #5b028f;
    border-radius: .25rem;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.nonel{
    display: none;
}

.btn-cc:hover{
    background-color: #8100cc;
    color: #fff ;
    border: 1px solid #8100cc;
}

input:focus {
    border-color: rgb(0, 255, 170);
    outline: rgb(0, 255, 170);
    border: 2px solid rgb(0, 255, 170);
}

.iform-plan:focus::placeholder{
    color: rgb(0, 143, 95);
}

select:focus {
    border-color: rgb(0, 255, 170);
    outline: rgb(0, 255, 170);
    border: 2px solid rgb(0, 255, 170);
}

/*message buy*/

.completebuy{
    position: absolute;
    top:0;
    width: 100%;
    min-height: 100%;
    background-color: #ffffffcb;
}

.messagecomplete{
    background-color: #fff;
    border: 1px solid rgb(224, 224, 224);
    width: 80%;
    display: block;
    margin: 1rem auto;
    border-radius: 0.25rem;
}

.bhead{
    background-color: rgb(226, 226, 226);
    padding: 1rem;
}

.textorden{
    width: 68px;
    display: inline-block;
}

.buyplantitle{
    border-bottom: 1px solid rgb(226, 226, 226);
    padding: .5rem 0;
}

.nameordenplan{
    display: inline-block;
}

.boxtextplan{
    padding: .3rem 0;
    padding-left: .5rem;
    margin: .8rem 0;
    border-left: 3px solid #d792ff;
    border-radius: .25rem;
}

.nameorden{
    color: #b83dff;
}

.buymain{
    padding: 1rem;
}

.mbuy{
    padding: .3rem;
    border: none;
    background-color: transparent;
}

.groupbtnend{
    width: 100%;
    padding: 0 1em;
    padding-bottom: 1rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    text-align: center;
}

.endbtnbuy{
    cursor: pointer;
    text-decoration: none;
    background-color: #961add;
    color: #fff;
    padding: .3rem 1rem;
    border-radius: .25rem;
    width: 20%;
    display: block;
}

.endbtnbuy:hover{
    background-color: #860ccc;
}

.printbtnbuy{
    cursor: pointer;
    text-decoration: none;
    background-color: #961add;
    color: #fff;
    padding: .3rem 1rem;
    border-radius: .25rem;
    width: 70%;
    display: block;
    margin-left: .2rem;
}

.printbtnbuy:hover{
    background-color: #860ccc;
}

@media screen and (min-width: 700px) {
    .main-plan{
        width: 70%;
        margin: 1.5rem auto;
    }

    .sdivs-plan{
        margin: 1.5rem auto; 
    }

}


/* 




.hup-plan{
    color:var(--color-first) ;
    background-color:var(--color-white);
    display: none;
    justify-content: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgb(238, 180, 255);
    align-items: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.hup-plan.act{
    opacity:1;
    color:var(--color-first) ;
    background-color:var(--color-white);
    display: flex;
    justify-content: center;
    padding: .5rem 1rem;
    border-bottom: 1px solid rgb(238, 180, 255);
    align-items: center;
}





.protect-plan{
    width: 80%;
    background: linear-gradient(#a200ff, 40%, #ffffff00);
    color: #ffffff;
    border-radius: 0.8rem;
    margin: 1%;
    transform: scale(0.99);
    transition: transform 0.6s;
    padding: 2px;
}

.protect-plan:hover{
    transform: scale(1);
}

.textone-plan{
    padding: 0.5rem 1rem;
    font-size: .9rem;
}

.cimg-plan{
    width: 100%;
    position: relative;
    background-color: #fff;
    border-radius: .25rem;
    padding: .7rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}


.be-plan{
    color: #5b076e;
    padding: 0;
    font-size: 100%;
}

.be-plan::before {
    content: '✔️';
    display: inline-block;
    width: 1rem;
    height: .5rem;
    margin: 0 .5rem 0 0;
} 


.btn-ami{
    background-color: #fff;
    color: #7a13b6;
    border: 1px solid #7a13b6;
    border-radius: .3rem;
    padding: 1rem;
    width: 200px;
    margin: .7rem .5rem;
    font-weight: 500;
} */